<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orlinskas.bookread">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LibraryActivity"
            android:label="Library"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".LibraryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FileManagerActivity"
            android:label="Search Book"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".FileManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
        android:name=".activities.HelpActivity"
        android:label="Help"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".HelpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ReadActivity"
            >
            <intent-filter>
                <action android:name=".ReadActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            >
            <intent-filter>
                <action android:name=".SettingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AboutAsActivity"
            android:label="About As"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name=".AboutAsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ContactActivity"
            android:label="Contacts"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name=".ContactActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.VocabularyActivity"
            android:label="Vocabulary"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name=".VocabularyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>